* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pinky: #f2668b;
  --darkBlue: #011f26;
}
body {
  background-color: dimgray;
}
a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
a:hover {
  color: var(--pinky);
}
.headerAbove {
  background-color: var(--darkBlue);
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 0px;
  left: 0px;
}
.FirstHeader {
  font-size: 29px;
  padding: 20px;
}
.SecondHeader {
  position: fixed;
  right: 0px;
  padding: 20px;
}
.Clarusway {
  color: var(--pinky);
}
#pinky {
  height: 2px;
  width: 100%;
  background-color: var(--pinky);
}
#withpic {
  background-image: url(showcase1.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment:fixed;
  background-size: cover;
}
#Texts{
    text-align: center;
    color: white;
    font-weight: bolder;
    padding: 15px;
    font-size: x-large;
}
#sectionp1{
margin-top:80px;
margin-bottom: 25px;
}
#sectionp2{
    margin-bottom: 100px;
}
.Subscribe{
    background-color: var(--darkBlue);
    position: sticky;
    top: 76px;
    color: white;
    display: flex;
    align-items: center;
    gap:950px;
}
#Newsletter{
    padding: 20px;
    font-size:20px;
    font-weight: bolder;
    color: var(--pinky);
}
#emailAbove{
    display: flex;
}
#emailbutton{
    background-color: var(--pinky);
    padding: 5px;
    margin-left: 3px;
}
#email{
    padding: 5px;
}
#footer{
    display: flex;
    align-items: center;
    background-color: var(--darkBlue);
    text-align: center;
    flex-direction: column;
    padding: 20px;
    position: sticky;
    bottom: 0px;
}
#mainDiv{
    display: flex;
    padding: 15px;
}
.picandtext{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 15px;
    border: 1px ;
    border-style:none;
    box-shadow: 0px 0px 22px 1px#f2668b;
    border-radius: 10px;
}
.pic{
    width:20%;
}
h1{
    color: var(--pinky);
}
p{
    color: var(--darkBlue);
}